<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Реєстрація</h1>
    <form method="post">
        {% csrf_token %}
        <p><input type="text" placeholder="Логін" name="username" required></p>
        <p><input type="password" placeholder="пароль" name="password" required></p>
        <p><input type="password" placeholder="Підтвердити пароль" name="confirm_password" required><p>
        <p><button>Зареєструватися</button></p>
        <p> {{error}} </p>
    </form>
</body>
</html>
