<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Створити пост</title>
</head>
<body>
    <h1>Створити пост</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <input type="text" placeholder="title" name="title" required>
        </div>
        <div>
            <textarea name="content" placeholder="content" required></textarea>
        </div>
        <div>
            <input type="file" accept="image/*" name="image">
        </div>
        
    </form>
</body>
</html>